@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.app {
  font-family: "PT Sans", sans-serif;
  font-size: 80px;
}

.app__header {
  display: flex;
  justify-content: space-between;
}

.app__inputs {
  display: flex;
  margin-top: 40px;
}
.Logo {
  background-image: url(./logo.jpg);
}
.LOGO {
  width: 200px;
}
.app__body {
  display: flex;
  justify-content: space-between;
}
